
h1{
    color: rgb(25, 153, 239);
    text-align: center;
}
h2{
    color: rgba(71, 9, 9, 0.515);
}
h3{
    color: rgb(255, 154, 22);
    text-align: center; 
}
p{
    color: rgb(22, 89, 108);
}


